<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tshop</title>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Staatliches&family=Titan+One&family=Ubuntu+Condensed&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c5dc02393b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="./shop/shop.css">
</head>
<body>
  <header id="header">
  </header>
    
    <div class="banner mb-4 container">
      <div class="bg"><h2>OFERTAS DE INVIERNO 30% OFF</h2></div>
    </div>
    <main>
        <div class="container my-3" id="app">
            <div id="cart">
              <div class="cart-icons">
                <i class="fa-solid fa-trash" title="Vaciar carrito" @click="cleanCart"></i>
                <i class="fa-solid fa-xmark" title="Cerrar carrito"></i>
              </div>
              <h3 class="text-center">CARRITO</h3>
              <template v-for="i in cart">
                <div v-for="producto in productos" v-if="i[0] == producto.id" class="cart-card">
                  <h4 class="card-title text-center">{{producto.nombre}}</h4>
                  <img :src="producto.imgurl" class="card-img-top" :alt="producto.nombre">
                  <h6 class="card-subtitle mb-2 text-primary text-center">${{producto.precio}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted text-center">Cantidad: {{i[1]}}</h6>
                </div>
                </div>
              </template>
              <div class="total">
                <h3>Total: {{total}}</h3>
              </div>
              <!-- <div class="item" v-for="i in cart">

                <h3>id: {{i[0]}}</h3>
                <h4>cantidad: {{i[1]}}</h4>
              </div> -->
            </div>
            <div class="btn-group container" role="group" aria-label="Basic example">
              <a class="btn btn-primary" @click="filterCategory('')">Todo</a>
              <a class="btn btn-primary" @click="filterCategory('remera')">Remeras</a>
              <a class="btn btn-primary" @click="filterCategory('buzo')">Buzos</a>
              <input type="text" class="search-box" v-model="filter" placeholder="Buscar">
            </div>
            <div class="card" style="width: 12rem;" v-for="producto in productos" v-if="producto.nombre.toLowerCase().includes(filter.toLowerCase())">
              <a :href="'item.html?id='+producto.id">
                <img :src="producto.imgurl" class="card-img-top" :alt="producto.nombre">
                <div class="card-body">
                  <div class="div">
                    <h5 class="card-title text-center">{{producto.nombre}}</h5>
                    
                  </div>
                  <div>
                    <h6 class="card-subtitle mb-2 text-primary text-center">${{producto.precio}}</h6>

                  </div>
                  <!-- <p class="card-text">{{producto.desc}}</p> -->
                  <!-- <a href="#" class="btn btn-primary">Comprar</a> -->
                </div>
              </a>
            </div>
          </div>
          <nav aria-label="..." class="container">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link">Anterior</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Siguiente</a>
              </li>
            </ul>
          </nav>
    </main>
    <div class="float-icon">
      <i class="fa-solid fa-message"></i>
    </div>
    <footer class="footer bg-light" id="footer">
    </footer>

    <script src="./js/insert.js"></script>
    <script src="./js/shop.js"></script>
</body>
</html>
